<h1>Listing poders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poders.each do |poder| %>
      <tr>
        <td><%= poder.name %></td>
        <td><%= link_to 'Show', poder %></td>
        <td><%= link_to 'Edit', edit_poder_path(poder) %></td>
        <td><%= link_to 'Destroy', poder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poder', new_poder_path %>
