<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alienigena.name %>
</p>
<strong>planetum:</strong>
<%= @alienigena.planetum.name %>
<p>
  <strong>Age:</strong>
  <%= @alienigena.age %>
</p>

<%= link_to 'Edit', edit_alienigena_path(@alienigena) %> |
<%= link_to 'Back', alienigenas_path %>
