<h1>Listing planeta</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planeta.each do |planetum| %>
      <tr>
        <td><%= planetum.name %></td>
        <td><%= link_to 'Show', planetum %></td>
        <td><%= link_to 'Edit', edit_planetum_path(planetum) %></td>
        <td><%= link_to 'Destroy', planetum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planetum', new_planetum_path %>
